// Primary Colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// Neutral Colors
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

html {
  font-size: 14px;
}

body {
  background-color: $cream;
  margin: 0;
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  background-color: $white;
  border-radius: 1rem;
  clip-path: fill-box;
}

.image-box {
  img {
    width: 100%;
    height: 100%;
  }
}

.content-box {
  padding: 1rem;
}
