// Primary Colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// Neutral Colors
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

html {
  font-size: calc(10px + 0.6vh);
}

body {
  background-color: $cream;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2rem 1.2rem;
  background-color: $white;
  border-radius: 1rem;
  clip-path: fill-box;
}

.image-box {
  picture {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.content-box {
  padding: 1.8rem;
  box-sizing: border-box;
  .second-title {
    letter-spacing: calc(0.1rem + 4px);
    text-transform: uppercase;
    line-height: normal;
    font-size: 0.85rem;
    margin: 0;
  }
  h1 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    font-size: 2.2rem;
    font-weight: 700;
    color: $very-dark-blue;
    margin: 0;
    line-height: 2.2rem;
    margin: calc(16px + 0.6rem) 0;
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: $dark-grayish-blue;
    line-height: calc(14px + 0.8rem);
    margin: calc(6px + 0.2rem) 0;
  }
  .price {
    color: $dark-cyan;
    display: flex;
    align-items: center;
  }
  .old-price {
    font-size: 1rem;
    color: $dark-grayish-blue;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: calc(8px + 1rem);
  }

  button {
    color: $white;
    background-color: $dark-cyan;
    border: none;
    padding: 1.2rem;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
  }
  button:hover {
    background-color: darken($dark-cyan, 20%);
  }
}

@media (min-width: 576px) {
  main {
    flex-direction: row;
    max-width: 624px;
  }
  .image-box {
    flex: 1;
    flex-basis: 50%;
  }
  .content-box {
    flex: 1;
    flex-basis: 50%;
  }
}
